.mail-preview {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(165, 160, 160, 0.342);
    padding: 10px 10px;
    position: relative;
    font-size: 1.1rem;
}

.mail-preview a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mail-preview:hover {
    cursor: pointer;
    border: 1.5px solid rgb(171, 172, 179);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.actions-btns {
    display: none;
    right: 0;
    position: absolute;
    transform: translateX(-50%);
}

<<<<<<< HEAD
 .mail-preview:hover .actions-btns:hover {
opacity :100%
} 

.mail-remove-btn:hover{
    background-color: rgba(211, 211, 211, 0.521);
    border-radius: 30px;
}

.mail-read-btn:hover{
    background-color: rgba(211, 211, 211, 0.521);
    border-radius: 30px;
}

.mail-preview:hover .actions-btns{
    display:flex;
    padding: 5px;
    opacity: 50%;
=======
.mail-preview:hover .actions-btns {
    display: block;
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
}

.mail-sender-name {
    width: 20%;
}

.mail-subject {
    width: 20%;
}

.mail-content {
    width: 50%;
}

.mail-date {
    width: 10%;
    position: absolute;
    right: 0;
    transform: translateX(30%);
}


/*mail-screen*/

.mails-screen {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "nav  main";
    gap: 2px;
}

<<<<<<< HEAD
.mail-nav{
    grid-area: nav;   
    /* box-shadow: 0 0 3px; */
=======
.mail-nav {
    grid-area: nav;
    box-shadow: 0 0 3px;
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
    height: 100vh;
    padding: 20px;
    font-size: 1.1rem;
}

.mail-nav>* {
    padding: 10px;
}

.mail-nav>*:not(:first-child, :last-child) {
    letter-spacing: 0.03rem;
}

.mail-nav>*:not(:first-child, :last-child):hover {
    background-color: lightgrey;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
}

.mail-nav>*:not(:first-child, :last-child) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.main {
    grid-area: main;
}

.compose-btn {
    color: rgb(99, 97, 97);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    width: 150px;
    gap: 7px;
    height: 50px;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 15px;
}

.compose-btn:hover {
    -webkit-box-shadow: 0px 0px 4px 0px #000000;
    box-shadow: 0px 0px 4px 0px #000000;
    color: rgb(83, 82, 82);
}

<<<<<<< HEAD

=======
.mails-filter {
    display: flex;
    justify-content: center;
    padding: 15px;
    /* padding-left: 40px; */
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: white;
}
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4

.precantage {
    position: relative;
    background-color: lightcyan;
}

.precantage-color {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

<<<<<<< HEAD
.mail-remove-btn{
 padding: 5px;
 margin-right: 4px;
}

.mail-read-btn{
    padding: 5px;

=======
.mail-remove-btn {
    padding: 3px;
    margin-right: 4px;
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
}

.mail-read-btn {
    padding: 3px;
}


/*Mail-details*/

.mail-details {
    /* display: flex; */
    margin: 10px;
    /* flex-direction: column; */
    font-size: 1.1rem;
}

.mail-details-btns {
    padding: 10px;
}

.mail-details-btns .return-btn {
    padding: 10px;
}

.sender-details {
    display: flex;
    gap: 10px
}

.sender-img {
    padding-top: 20px;
}


/*STAR*/

.star-yellow {
    color: gold;
}

<<<<<<< HEAD
.star{
    opacity: 45%;
=======
.star {
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
    padding: 5px;
    transform: translateY(-12%);
}

.star:hover {
    /* padding:5px; */
    background-color: rgba(211, 211, 211, 0.521);
    border-radius: 30px;
    opacity: 100%;
}


/*mail-filter*/

<<<<<<< HEAD
   .mails-filter{
=======
.mails-filter {
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
    display: flex;
    justify-content: center;
    padding: 15px;
    /* padding-left: 40px; */
    justify-content: space-between;
    border-bottom: 2px solid #dad6d6;
    background-color: white;
<<<<<<< HEAD
   }  

=======
}
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4

.main-input {
    background-color: #f1f3f4;
    width: 40vw;
    height: 45px;
    padding: 10px;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    border-radius: 15px;
    outline: none;
    border: 0;
}

.main-input:focus {
    background-color: white;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-options {
    position: relative;
}

.filter-options select {
    background-color: #f1f3f4;
    width: 25px;
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    border: 0;
}

.filter-options select:hover {
    cursor: pointer;
    background-color: #ECECEC;
}

.filter-options select * {
    background-color: white;
}

.logo-img-container {
    max-width: 30px;
    max-height: 30px;
}

.mail-logo {
    display: flex;
    gap: 20px;
}

.mail-logo h1 {
    font-size: 1.9rem;
    color: rgb(99, 97, 97);
    opacity: 95%;
}

.mail-logo h1 span {
    font-size: 2.3rem;
}

.text-filter {
    display: flex;
    height: 45px;
}

.filter-search {
    align-self: center;
    height: 45px;
    /* margin-top: 25px; */
    display: contents;
}

.filter-search:hover {
    cursor: pointer;
}

.search-container {
    border-radius: 15px;
    padding-left: 10px;
}

.add-mail {
    position: fixed;
    bottom: 0;
    transform: translateY(100%);
    transition: transform .3s;
<<<<<<< HEAD
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
    width: 38vw;;



=======
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
}

.open-send-mail {
    transform: translateY(0%);
<<<<<<< HEAD
    transform: translateX(120%);
    display: flex;
    flex-direction: column;
    background-color: white;
} 

.close-down{

}

.open-up{
    
}

.sent-buttons-container{
    display:flex;
    gap : 15px;
    width:100px;
    justify-content: flex-end;

}

.toggle-new-mail{
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 1.2rem;
    color: rgb(228, 227, 227);
    padding: 10px;
}

.toggle-new-mail:hover{
   
}



.addressee-input-container{
    border-bottom: 1px solid rgba(211, 211, 211, 0.521) ;
    padding-left: 12px;
}

.subject-input-container{
  
    border-bottom: 1px solid rgba(211, 211, 211, 0.521) ;
    padding-left: 12px;


}

.send-mail-text{
    border: none;
    outline: none;
    resize:none;
    width: 100%;
    height: 400px;
}

.send-mail-input{
    border: 0;
    width: 36vw;
    padding-bottom: 12px;
    padding-top: 12px;
}

.send-mail-input:focus{
    background-color: white;
    outline: none;
}

.send-mail-subject{
    border: 0;
    width: 36vw;
    padding-bottom: 12px;
    padding-top: 12px;
}

.send-mail-subject:focus{
    background-color: white;
    outline: none;
}

.close-new-mail:hover{
    background-color: #b1b1b1;
    border-radius: 50px;
}

.close-new-mail{
    color: rgb(228, 227, 227);
    padding: 10px;
}

.inbox-nav{
=======
}

.inbox-nav {
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
    background-color: #fce8e6;
    color: #D93025;
    font-weight: bold;
    border-radius: 5px;
}

.nav-option {
    background-color: #e8eaed;
    font-weight: bold;
    border-radius: 5px;
<<<<<<< HEAD
}

/*COMPOSE*/

.new-mail-btns{
    display: flex;
    gap: 20px;
}


.new-mail-remove-btn{
    opacity: 50%;
    margin-top: 15px;
    padding:10px;
}

.new-mail-remove-btn:hover{
    opacity: 100%;
    background-color: rgba(211, 211, 211, 0.521);
    border-radius: 5px;
}



.add-mail .send-mail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #444242;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    width: 38vw;
    height: 47px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }


  .submit-send-btn{
      background-color: #1a73e8;
      padding: 16px;
      border-radius: 4px;
      letter-spacing: .25px;
      font-weight: 600;
      font-size: 1.1rem;
      color: white;
      border: none;
      margin-left: 15px;
    
  }

  .submit-send-btn:hover{
    -webkit-box-shadow: 0px 0px 4px 0px #4340d3; 
    box-shadow: 0px 0px 4px 0px #4644be;
  }


  /*PERECANTEGE*/

  .perecantage{
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* background-color: #fff; */
      /* box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.12); */
  }

  .perecantage .perecantage-color{
      position: relative;
      width: 150px;
      height: 150px;
  }

   .perecantage .perecantage-color svg{
    position: relative;
    width: 150px;
    height: 150px;
  }

  .perecantage .perecantage-color svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
  }

  .perecantage .perecantage-color svg circle:nth-child(1){
      stroke-dashoffset: 0;
      stroke: #f3f3f3
  }

  .perecantage .perecantage-color svg circle:nth-child(2){
    /* stroke-dashoffset: calc(440 - (440*10) / 100); */
    /* stroke: #03a9f4; */

  }

  .perecantage .perecantage-color .unread-num{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
  }

  
  .perecantage .perecantage-color .unread-num h2{
      font-size: 48px;
  }

  .perecantage .perecantage-color .unread-num h2 span{
    font-size: 24px;

  }

  .perecantage .unread-text{
      padding: 10px 0 0 ;
      color:#999 ;
      font-weight: 700;
      letter-spacing: 1px;
  }
=======
}
>>>>>>> 776c6dd4fcd603c25e561972ddad8853273500b4
