/* Main header */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3b599854;
    height: 8vh;
    padding: 0 1rem;
    box-shadow: 0 0 10px;
}

.app-header .nav-bar>* {
    padding: 5px;
}