.success {
    background-color: green;
    color: white;
}

.error {
    background-color: red;
    color: white
}

.user-msg {
    width: fit-content;
    padding: 1rem;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 1rem;
}