.success {
    background-color: green;
}

.error {
    background-color: red;
}

.user-msg {
    width: fit-content;
    position: fixed;
    padding: 0 3px;
    right: 20px;
    top: 20px;
    border-radius: 1rem;
    color: white;
    line-height: 0px;
}