@media (max-width: 1200px) {
    .note-list {
        column-count: 3;
    }
}

@media (max-width: 1070px) {
    .note-filter nav div:last-child input {
        width: 120px;
        transform: translateX(-20px);
    }
}

@media (max-width: 1000px) {
    .note-list {
        column-count: 2;
    }
}

@media (max-width: 770px) {
    .note-list {
        column-count: 1;
    }
    .add-note-cmd {
        text-align: center;
        flex-direction: column;
        height: 100px;
    }
    .add-note-cmd input {
        text-align: center;
        margin-left: 0;
    }
    .add-note-types {
        right: 50%;
        transform: translate(50%, 170%);
        min-width: 160px;
    }
    .note-filter {
        width: 50px;
    }
    .right-side {
        width: 100%;
    }
    .note-filter nav>* {
        padding: 7px;
        width: 80%;
    }
    .note-filter nav div:last-child input {
        transform: translate(-150%, -100px);
        transition: transform .3s;
    }
    .note-filter nav div:last-child input.text-search-displayed {
        position: fixed;
        transform: translate(50px, -100px);
    }
}

@media (max-width: 450px) {
    .note-icon {
        opacity: 1;
    }
}