.main-keep-app {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "filter main";
    gap: 2px;
}

.right-side {
    grid-area: main;
}

.note-filter {
    grid-area: filter;
}