.notes {
    padding: 10px;
}

.note-list {
    position: relative;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; */
    column-count: 4;
    column-gap: 10px;
    /* column-fill: balance; */
    padding: 10px 0;
}

.notes {
    max-width: 100%;
}

.notes>* {
    margin: 30px;
}

.pinned-headline {
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%);
}