.note-container {
    min-width: 250px;
    box-shadow: 0 0 5px;
    border-radius: .5em;
    display: inline-block;
    margin: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.note {
    border-radius: .5em;
    padding: 1rem .5rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: fit-content;
    transition: border .3s, background-color .1s;
    overflow: hidden;
    break-inside: avoid;
}

.note img {
    max-width: 150px;
}

.note:hover .note-icon {
    opacity: 1;
}

.note-icon {
    width: 15px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
}

.note-icon.delete {
    background: none;
    cursor: pointer;
    right: 105px;
}

.note:hover .note-icon {
    display: block;
}

.note-icon.paintbrush {
    right: 5px;
}

.note-icon.pin {
    right: 30px;
}

.note-icon.duplicate {
    right: 55px;
}

.note-icon.edit {
    right: 80px;
}

.note-icon.pin.pinned {
    transform: rotateZ(-45deg);
}

.note input {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.editing-cmd {
    padding-bottom: 20px;
}

.editing-cmd input {
    opacity: 1;
    width: 100%;
    pointer-events: auto;
}