.note {
    padding: 1rem .5rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    border-radius: .5em;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: min-content;
    box-shadow: 0 0 10px;
    transition: transform .3s, background-color .1s;
    overflow: hidden;
}

.note:hover {
    z-index: 1;
    transform: scale(1.1);
}

.note img {
    max-width: 150px;
}

.note .delete-note {
    position: absolute;
    top: 0;
    right: 5px;
    transform: translateY(-10%);
    background: none;
    width: 30px;
    /* height: 30px; */
    box-shadow: none;
    cursor: pointer;
}

.note-icon {
    width: 15px;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    display: none;
}

.note:hover .note-icon {
    display: block;
}

.note-icon.paintbrush {
    right: 5px;
}

.note-icon.pin {
    right: 30px;
}

.note-icon.duplicate {
    right: 55px;
}

.note-icon.pin.pinned {
    transform: rotateZ(-45deg);
}

.note input {
    width: 0;
    opacity: 0;
    pointer-events: none;
}